<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<B>Objective</b>

In this Notebook, the below assignments are taken

<ul>
    <li>Create Markdown with Title</li>
    <li>Create Markdown for Some of the popular language</li>
    <li>Create Markdown for Some of the commonly used libraries</li>
    <li>Create Markdown for Some of the Data Science Tools</li>
    <li>Few examples of evaluating arithmetic expressions</li>
</ul>

<b>Some of the popular languages that Data Scientists use are:</b>
<ol type="1">
  <li>Python</li>
  <li>R</li>
  <li>Julia</li>
  <li>Scala</li>
</ol>

<b>Some of the commonly used libraries used by Data Scientists include:</b>
<ol type="1">
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Scikit-learn</li>
</ol>

<table>
  <th>Data Science Tools</th>  
    <tr><td>Excel</td></tr>
    <tr><td>SQL</td></tr>
    <tr><td>Power BI</td></tr>
    <tr><td>Tableau</td></tr>
    <tr><td>Apache Hadoop</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [9]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes // 60
remaining_minutes = minutes % 60
print(f"{hours} hours and {remaining_minutes} minutes")

3 hours and 20 minutes

<h2>Author</h2>
Shunmuga sundaram. A